<div id="footer" class="bg-main-light">
    <div class="container py-5">
        <h3>Get the FreshCart app</h3>
        <p class="text-muted">We will send you a link, open it on your phone to download the app</p>
        <div class="row ms-3">
            <div class="col-md-10 ps-0">
                <input class="form-control" type="email" name="" id="" placeholder="Email...">
            </div>
            <div class="col-md-2">
                <button class="btn bg-main text-white w-100">Share App Link</button>
            </div>
        </div>
        <div class="py-3 ms-3 d-flex justify-content-between align-items-center">
            <div class="me-auto d-flex">
                <span class="font-sm fw-bold me-2">Payment Partners</span>
                <img class="mx-2 cursor-pointer" src="assets/images/amazonpay.svg" title="Amazon Pay">
                <img class="mx-2 cursor-pointer" src="assets/images/american-express.svg" title="American Express">
                <img class="mx-2 cursor-pointer" src="assets/images/mastercard.svg" title="Mastercard">
                <img class="mx-2 cursor-pointer" src="assets/images/paypal.svg" title="Paypal">
            </div>
            <div class="ms-auto text-end">
                <span class="font-sm fw-bold mx-2">Get deliveries with FreshCart</span>
                <img class="w-25 mx-2 cursor-pointer" src="assets/images/appstore-btn.svg" title="App Store">
                <img class="w-25 ms-2 cursor-pointer" src="assets/images/googleplay-btn.svg" title="Google Play">
            </div>
        </div>
    </div>
</div>