<div class="py-5">
  <ngx-spinner bdColor = "#fff" size = "large" color = "#0aad0a" type = "ball-spin-clockwise-fade" [fullScreen] = "false"></ngx-spinner>
    <div class="row py-5 align-items-center">
        <div class="col-md-4">
            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let image of productDetails?.images">
                  <ng-template carouselSlide>
                    <img [src]="image">
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>
        <div class="col-md-8">
            <h2 class="h4 fw-bolder mb-2">{{productDetails.title}}</h2>
            <h5>{{productDetails.brand.name}}</h5>
            <h6 class="text-muted">{{productDetails.category.name}}</h6>
            <p class="fw-bold mb-2">{{productDetails.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <span class="text-muted">{{productDetails.price}} EGP</span>
                <i class="fas fa-star rating-color"><span
                        class="text-muted">{{productDetails.ratingsAverage}}</span></i>
            </div>
            <button (click)="addToCart(productDetails.id)" class="btn bg-main text-white w-100 my-2">+ Add</button>
        </div>
    </div>
</div>