<div class="row gx-0">
    <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img height="400" class="fit-cover" src="assets/images/slider-image-1.jpeg" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img height="400" class="fit-cover" src="assets/images/slider-image-2.jpeg" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img height="400" class="fit-cover" src="assets/images/slider-image-3.jpeg" alt="">
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="col-md-3">
        <img height="200" src="assets/images/side1.jpg" alt="">
        <img height="200" src="assets/images/side2.jpg" alt="">
    </div>
</div>