<div class="py-5">
    <div class="py-5">
        <div class="mb-4">
            <app-mainslider></app-mainslider>
        </div>
        <div class="mb-4">
            <h4>Categories</h4>
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let category of categories">
                    <ng-template carouselSlide>
                        <a [routerLink]="['/categories', category._id]">
                            <img height="200" class="fit-cover" [src]="category.image">
                            <h4 class="h6 fw-bolder text-center mt-2">{{category.name}}</h4>
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <h4>Products</h4>
        <div class="row">
            <div *ngFor="let product of products.slice(0, 12)" class="col-md-2">
                <div class="product px-2 py-4">
                    <a [routerLink]="['/productdetails', product.id]">
                        <img class="w-100" src={{product.imageCover}} alt="">
                        <span class="text-main fw-bold font-sm">{{product.category.name}}</span>
                        <h3 class="h6 fw-bold">{{product.title.split(' ').slice(0, 2).join(' ')}}</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-muted">{{product.price | currency:'EGP'}}</span>
                            <i class="fas fa-star rating-color"><span
                                    class="text-muted">{{product.ratingsAverage}}</span></i>
                        </div>
                    </a>
                    <button (click)="addToCart(product.id)" class="btn bg-main text-white w-100 my-2">+ Add</button>
                </div>
            </div>
        </div>
    </div>
</div>